@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #000000;
    color: #333;
}

header {
    /* background-color: #333; */
    color: #fff;
    padding:  0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .logo h1 {
    margin: 0;
}

nav {
    /* background-color: aqua; */
    height: 80px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:  1.2rem;
}
#nav-main   {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.72);
    /* color: white; */
    font-weight: bold;
}
#nav-sub1, #nav-sub2, #nav-sub3   {
    color: rgba(0, 0, 0, 0.72);
    /* color: white; */
}
.navbar {
    transition: background-color 0.3s ease;
}
.navbar.default-bg {
    background-color: transparent;
}

.navbar.scrolled-bg {
    color: black;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    position: relative;
    color: #ffffff;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/sec1-bg4.jpg') no-repeat center center/cover;
    opacity: 0.7;
    z-index: -1;
}



#hero h1 {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:  4rem;
}

#intro-separate {
    border: 3px solid black;
    width: 50px;
    text-align: center;
    margin-left: 290px;
}
#hero h5    {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #e4e4e4;
    line-height: 35px;
}

section {
    padding: 2rem;
}
#about-me   {
    background-color: #ffffff;
}

#about-intro  {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1.5rem;
}

#about-me h2 {
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:  3rem;
}

#about-me i {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

#about-me p {
    margin: 0;
    font-size: 1rem;
}

#skills {
    background-color: #f0813cc2;
}


#skills h2 {
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:  3rem;
    text-align: center;
}
#skills-font1, #skills-font2   {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
}

.card {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.65rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.card img {

    margin-bottom: 10px;
}
#oracleImg  {
    width: 130px;
    height: 130px;
}
#javaImg, #mysqlImg    {
    width: 170px;
    height: 100px;
}
#figmaImg, #notionImg   {
    width: 170px;
    height: 60px;
}

.card-body {
    padding: 10px;
}

.card h5 {
    margin-bottom: 20px;
}
#archiving  {
    background-color: #66bc5bbe;
}
#archiving h2  {
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:  3rem;
    text-align: center;
}
#archiving img  {
    width: 60%;
    height: 20%;
}

#projects {
    background-color: #368edad0;
}

#projects h2    {
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:  3rem;
    text-align: center;
}
#projects h5    {
    color: black;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:  2.4rem;
    text-align: center;
}
#projects h6    {
    color: rgb(137, 137, 137);
}

.project {
    background-color: #fff;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#project-intro  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#carosel-intro  {
    width: 30%;
    text-align: left;
    font-size: 0.95rem;
    font-weight: normal;
}
.carosel-intro-2    {
    display: flex;
    justify-content: space-between;
}
.carosel-intro-3    {
    width: 30%;
}
.carosel-intro-4    {
    width: 65%;
}
.carosel-intro-4 a    {
    text-decoration: none;
}


#carouselExampleControls    {
    /* width: 700px;
    height: 331px; */
    width: 65%;
    border: 0px solid black;
}
.carousel-control-prev, .carousel-control-next  {
    color: black;
}

@media (max-width: 768px) {
    #project-intro {
        flex-direction: column;
        align-items: center; 
    }

    #carosel-intro, #carouselExampleControls {
        width: 100%;
        margin-bottom: 20px; 
    }

    .carosel-intro-2 {
        flex-direction: column;
    }

    .carosel-intro-3,
    .carosel-intro-4 {
        width: 100%;
        text-align: center;
    }

    .carosel-intro-4 a {
        text-decoration: none;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;

}
footer a{
    text-decoration-line: none;
    color: white;
}

footer a:hover{
    text-decoration-line: none;
    color: rgba(80, 80, 255, 0.867);
}
